* {
  box-sizing: border-box;
}
body {
  background-color: #6CABDD;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  text-align: center;
  margin-top: 35px;
}

.container{
  margin-top: 4rem;
}

h1 {
  margin-bottom: 1rem;
}

.list-group-item {
  background-color: #fff;
}

.button-class {
  background-color: #FFC659;
  color: #000;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
}

.button-class:hover,
.button-class:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.button-class:active,
.button-class:active {
  background-color: #fff;
  border: 5px solid #FFC659;
  color: #000;
}

.modal-body {
  color: #fff;
}
.modal-title {
  margin-top: 10%;
}
.modal-img {
  padding: 20px;
  margin-top: -20px;
  width: 50%;
}


@media all and (max-width: 768px) {
  .button-class {
      padding-top: 26px;
      padding-bottom: 26px;
  }
}